@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik-Light";
  font-weight: 200;
  src: url("../fonts/Aeonik-Light.woff") format("woff");
}
@font-face {
  font-family: "Aeonik-Regular";
  font-weight: 500;
  src: url("../fonts/Aeonik-Regular.woff") format("woff");
}
@font-face {
  font-family: "Aeonik-Bold";
  font-weight: 800;
  src: url("../fonts/Aeonik-Bold.woff") format("woff");
}

html,
* {
  font-family: "Aeonik-Light";
}
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: , BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0d0d0d;
  scroll-behavior: smooth;
}

h1,
h3 {
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(to right, #7c3eff, #e3b5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
